@import '../../../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.BuyMatrixModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 29px 0 0;
  background-color: $violet-blue;
  overflow-y: scroll;
  z-index: 10;
  text-align: center;

  @include media-breakpoint-up(xl) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    padding: 60px 20px;
    background-color: $perrywinkle;
    border-radius: 10px;
  }

  .closeButton {
    display: block;
    margin-left: auto;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 20px;
      right: 19px;

      path {
        fill: $indigo;
      }
    }
  }

  h3 {
    margin-top: 40px;
    font-weight: bold;
    font-size: 1.5rem;
  }

  p {
    margin: 40px 0;
  }

  div > .buyButton {
    width: 100%;

    @include media-breakpoint-up(xl) {
      margin: 0 auto;
      background-color: $indigo;
    }
  }
}
