@import "../../../../../static/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.BuyMatrixModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $indigo;
  text-align: center;
  z-index: 10;

  @include media-breakpoint-up(xl) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    border-radius: 10px;
  }


  .header {
    padding: 40px;

    h3 {
      margin-bottom: 0;
      font-weight: bold;
      font-size: 24px;
    }

    & + .content {
      padding-top: 0;
    }

    .close {
      display: block;
      position: absolute;
      background-color: transparent;
      border: none;
      width: 20px;
      right: 10px;
      padding: 0;
      top: 10px;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .content {
    font-size: 18px;
    padding: 40px;

    & + .footer {
      padding-top: 0;
    }
  }

  .footer {
    padding: 40px;
  }
}
