@import '../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.ResetPasswordWrapper {
  position: relative;
  overflow: hidden;
}

.ResetPassword {
  position: relative;
  min-height: 100vh;
  padding: 20px 0 0;

  .logo {
    @include media-breakpoint-up(xl) {
      margin-bottom: 60px;
    }

    img {
      display: block;
      width: 114px;
      height: 45px;
      margin: 0 auto;

      @include media-breakpoint-up(xl) {
        width: 187px;
        height: 74px;
      }
    }
  }

  .mainTitle {
    margin: 46px 0 32px;
    font-weight: bold;
    font-size: 1.625rem;
    line-height: 1.31;

    @include media-breakpoint-up(xl) {
      margin: 0 0 32px;
    }
  }

  .form {
    @include media-breakpoint-up(xl) {
      max-width: 626px;
      margin: 0 auto;
      padding: 68px 95px 94px;
      background-color: $indigo;
      border-radius: 3px;
    }

    .field {
      margin-bottom: 30px;
    }

    .submitButton {
      width: 100%;
      margin: 50px 0 0;
    }
  }
}
