@import '../../../static/styles/variables';

.NavBar {
  .navLink {
    display: flex;
    align-items: center;
    padding: 6px 25px 6px 30px;
    font-weight: 600;
    font-size: 1.375rem;
    color: $white;
    text-decoration: none;
    border-radius: 6px;

    &.active {
      background-color: $perrywinkle;
    }

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }

    &:not(:first-child) {
      margin-top: 8px;
    }

    .icon {
      margin-right: 15px;
    }
  }
}
