@import '../../static/styles/variables';

.Avatar {
  position: relative;
  width: 96px;
  height: 96px;

  .inputWrapper {
    position: relative;
    width: 96px;
    height: 96px;

    input {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      appearance: none;
      opacity: 0;
      cursor: pointer;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .circle {
    position: absolute;
    top: 6px;
    right: 7px;
    z-index: 1;
    width: 17px;
    height: 17px;
    background-color: $aqua-blue;
    border-radius: 50%;
  }

  .errorMessage {
    width: max-content;
    position: absolute;
    left: 50%;
    bottom: -17px;
    transform: translateX(-50%);
    margin: 0;
    font-size: 0.875rem;
  }
}
