@import '../../../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.ClonesModal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  padding: 29px 0 0;
  background-color: $violet-blue;
  overflow-y: scroll;

  @include media-breakpoint-up(xl) {
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 758px;
    height: 433px;
    padding: 60px 76px;
    border-radius: 10px;
    overflow-y: initial;
    background-color: $perrywinkle;
  }

  .closeButton {
    display: block;
    margin-left: auto;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 20px;
      right: 19px;

      path {
        fill: $indigo;
      }
    }
  }

  .clonesCounter,
  .arrangeClones {
    max-width: 216px;
    margin: 92px auto 62px;
    padding: 16px 37px 13px;
    background-color: $perrywinkle;
    border-radius: 8px;

    @include media-breakpoint-up(xl) {
      width: 100%;
      max-width: 275px;
      margin: 0;
      padding: 20px 30px;
      background-color: $violet-blue;
    }

    p {
      margin: 0;
      font-weight: bold;
      font-size: 1.125rem;
      text-align: center;

      @include media-breakpoint-up(xl) {
        font-size: 2.25rem;
      }
    }

    .counter {
      width: 76px;
      height: 76px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 6px auto;
      background-color: $aqua-blue;
      border-radius: 50%;
      font-weight: 800;
      font-size: 2rem;

      @include media-breakpoint-up(xl) {
        font-size: 4.25rem;
      }
    }
  }

  .arrangeClones {
    margin-top: 62px;

    @include media-breakpoint-up(xl) {
      margin: 0;
    }

    //TODO: remove hardcode

    p[class*='errorMessage'] {
      font-size: 0.8rem;
    }

    button {
      margin-top: 40px;

      @include media-breakpoint-up(xl) {
        width: 100%;
        max-width: 180px;
        margin: 40px auto;
        background-color: $perrywinkle;
      }
    }
  }

  .submitMessage {
    max-width: 269px;
    margin: 0 auto 20px;
    padding: 5px 0;
    font-weight: bold;
    background-color: $perrywinkle;
    border-radius: 3px;
    text-align: center;

    @include media-breakpoint-up(xl) {
      margin: 60px auto;
      background-color: $violet-blue;
    }
  }
}
