@import "../../../../../static/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.list {
  display: grid;
  grid-template-columns: repeat(2, minmax(108px, 1fr));
  list-style: none;
  margin-bottom: 0;
  padding: 0;

  > li {
    display: flex;
    justify-content: center;
    padding: 0;
  }

  figure {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    max-width: 150px;

    figcaption {
      margin-top: -30px;
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(3, minmax(150px, 1fr));

    figure {
      margin-bottom: 30px;
    }
  }


  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(4, minmax(150px, 1fr));

    figure {
      margin-bottom: 30px;
    }
  }
}

.search {
  margin-bottom: 40px;

  input[type='text'] {
    display: flex;
    position: relative;
    align-items: center;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 35px;
    padding: 5px 15px;
    font-size: 14px;
    color: #fff;
    outline: none;
    height: 40px;
    width: 100%;

    &::placeholder {
      opacity: 1;
    }
  }

  @include media-breakpoint-up(xl) {
    input[type='text'] {
      padding: 10px 20px;
      font-size: 20px;
      height: 60px;
    }
  }
}

.queueElement {
  pointer-events: none;

  &.interaction {
    pointer-events: all;
    cursor: pointer;
  }

  .circle {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $violet-blue;
    border-radius: 50%;
  }

  .picture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 7px solid #3b217c;
    background-color: #3b217c;
    overflow: hidden;
  }

  .avatar {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .name {
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    line-height: 21px;
    overflow: hidden;
    font-weight: 500;
    max-width: 100%;
    font-size: 18px;
  }

  @include media-breakpoint-up(xl) {
    .circle {
      width: 124px;
      height: 124px;
    }

    .picture {
      width: 84px;
      height: 84px;
    }

    .name {
      line-height: 28px;
      font-size: 24px;
    }
  }
}

.pagination {
  display: flex;
  max-width: min-content;
  list-style-type: none;
  margin: 30px auto 60px;
  padding: 0;

  a {
    outline: none;
  }

  li {
    padding: 0 3px;

    a {
      width: 30px;
      height: 30px;
      display: block;
      display: flex;
      justify-content: center;
      background-color: #3b217c;
      border-radius: 50%;
      line-height: 30px;
      outline: none;

      img {
        max-width: 22px;
      }
    }

    &.active a {
      background-color: $perrywinkle;
    }

    .arrowLeft {
      margin-left: -2px;
    }

    .arrowRight {
      margin-right: -2px;
    }

    &:first-child a,
    &:last-child a {
      background-color: transparent;
    }
  }

  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }


  @include media-breakpoint-up(xl) {
    li {
      padding: 0 6px;

      a {
        width: 36px;
        height: 36px;
        line-height: 36px;
      }
    }
  }
}
