@import '../../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.FillForm {
  .header {
    position: absolute;
    top: -67px;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 67px;
    background-color: $indigo;

    @include media-breakpoint-up(xl) {
      position: static;
      margin-bottom: 18px;
      background-color: transparent;
    }

    .arrow {
      svg {
        width: 63px;
        height: 58px;
      }
    }
  }

  .form {
    @include media-breakpoint-up(xl) {
      max-width: 395px;
      margin: 0 auto;
      padding: 58px 23px 65px;
      background-color: $violet-blue;
      border-radius: 25px;
    }

    .mainTitle {
      margin: 0 0 9px;
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.2;

      @include media-breakpoint-up(xl) {
        font-size: 1.375rem;
      }
    }

    .field {
      margin-bottom: 12px;

      .select {
        position: relative;
        height: 42px;

        & > div:first-child {
          padding-left: 0;
          background-color: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 1px solid $white;
          font-size: 0.875rem;

          svg {
            right: 5px;
          }
        }

        & > div:last-child {
          z-index: 13;
          width: 100%;
          top: 41px;
        }
      }

      .error {
        font-size: 0.875rem;
        color: $orangey-red;
      }
    }

    button {
      width: 100%;
      margin-top: 36px;
      text-transform: uppercase;
    }
  }

  .statusModal {
    max-width: 271px;
    margin: 167px auto 0;
    padding: 15px 12px;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.2;
    background-color: $dark-indigo;
    border-radius: 18px;
    text-align: center;

    .closeButton {
      display: none;

      @include media-breakpoint-up(xl) {
        display: block;
        position: absolute;
        top: 30px;
        right: 34px;
        width: 27px;
        height: 27px;
        cursor: pointer;
      }
    }

    @include media-breakpoint-up(xl) {
      max-width: 559px;
      width: 559px;
      height: 266px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      position: absolute;
      top: 258px;
      left: 50%;
      transform: translateX(-50%);
      padding: 71px 54px;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 1.16;
      filter: drop-shadow(0px 4px 60px #000000);
    }
  }

  .invisible {
    display: none;

    @include media-breakpoint-up(xl) {
      display: block;
      position: relative;
      z-index: 0;
    }
  }
}
