.footer {
  background-color: $main-color;
  padding-top: 55px;
  padding-bottom: 40px;

  @media (max-width: 550px) {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.footer__container {
  @include container;
}

.footer__title {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1;

  @media (max-width: 767px) {
    font-size: 24px;
    text-align: center;
  }

  @media (max-width: 425px) {
    font-size: 20px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 60px 0 0;
  max-width: 850px;

  @media (max-width: 550px) {
    margin-top: 25px;
  }

  @media (max-width: 425px) {
    margin-left: -7px;
    margin-right: -7px;
  }
}

.footer__social-link {
  width: calc(33% - 30px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: unset;
  color: inherit;
  transition: 0.3s;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-right: 30px;
  margin-bottom: 40px;

  &:hover {
    color: $hover-color;
  }

  span {
    margin-left: 20px;

    @media (max-width: 550px) {
      margin-left: 8px;
    }
  }

  svg {
    @media (max-width: 550px) {
      width: 20px;
    }
  }

  @media (max-width: 767px) {
    width: calc(50% - 30px);
  }

  @media (max-width: 550px) {
    width: calc(50% - 14px);
    font-size: 14px;
    margin: 0 7px 5px;
  }
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer__contract-offer {
  text-decoration: unset;
  color: inherit;
  margin: 15px 30px 15px 0;
  transition: 0.3s;

  &:hover {
    color: $hover-color;
  }
}

.footer__bottom-box {
  min-width: 170px;
  min-height: 60px;
}

.payeer-logo {
  min-height: initial;
  display: flex;
  align-items: center;
  margin-top: 20px;
  background-color: $white;

  @media (min-width: 1200px) {
    margin: 0 0 0 30px;
  }
}
