.marketing {
  @include container;

  max-width: 955px;
  margin: 0 auto 160px;

  @media (max-width: 425px) {
    margin-bottom: 85px;
  }
}

.marketing__title {
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
  font-weight: 800;
  margin-bottom: 90px;

  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.marketing__flex {
  display: flex;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
  }
}