.roadmap-info {
  @include container;

  max-width: 955px;
  margin: 0 auto 60px;

  @media (max-width: 425px) {
    margin-bottom: 85px;
  }

  &__title {
    font-size: 48px;
    line-height: 1.1;
    text-align: center;
    font-weight: 800;
    margin-bottom: 90px;

    @media (max-width: 767px) {
      margin-bottom: 30px;
      font-size: 24px;
    }
  }
}
