.header {
  background-color: $main-color;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.52);
  position: relative;
  z-index: 2;

  &--transform-none {
    transition-duration: unset !important;
    transform: unset !important;
  }
}

.header__container {
  @include container;
}

.header__flex {
  display: flex;
  justify-content: space-between;
  margin-left: -40px;
  margin-right: -40px;

  & > .header__box:last-of-type {
    border-right: unset;
  }

  @media (max-width: 1300px) {
    margin-left: unset;
    margin-right: unset;
  }
}

.header__box {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 20px;
  border-right: 1px solid $second-color;

  @media (max-width: 1300px) {
    border: unset;
    flex-grow: unset;
    padding: 25px 0;
  }

  @media (max-width: 767px) {
    padding: 15px 0;
  }
}

.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo-star {
  animation: 2s linear 0s normal none infinite running rot;
}

@keyframes rot {
  0% {
    transform: rotateY(0deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.header__logo-text {
  margin-left: 2px;
  margin-top: 3px;
}

.header__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7px;
  margin-right: -7px;
}

.header__social-link {
  text-decoration: unset;
  margin-left: 7px;
  margin-right: 7px;

  path {
    transition: 0.3s;
  }

  &:hover {
    path {
      fill: #fff;
    }
  }

  svg {
    @media (max-width: 1300px) {
      width: 30px;
      height: auto;
    }
  }

  @media (max-width: 1300px) {
    margin: 15px;
  }
}

.header__lang-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__lang {
  padding: 9px;
  background-color: transparent;
  border-radius: 3px;
  text-decoration: unset;
  color: inherit;
  transition: 0.3s;
  border: 1px solid transparent;

  &:not(.header__lang--active):hover {
    border: 1px solid white;
  }

  &--active {
    background-color: $second-color;
    pointer-events: none;
  }
}

.header__sign-in {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: unset;
  color: inherit;

  span, svg path {
    transition: .3s;
  }

  span {
    margin-left: 10px;
    color: inherit;
  }

  &:hover {
    span {
      color: $hover-color;
    }

    svg {
      path {
        fill: $hover-color;
      }
    }
  }

  @media (max-width: 1300px) {
    display: none;
  }
}

.header__mob-menu {
  display: flex;
  flex-grow: 1;

  @media (max-width: 1300px) {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding-top: 60px;
    z-index: 2;
    overflow-y: scroll;
    background-color: $dark-color;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }

  &.open {
    display: flex;
  }

  @media (max-width: 425px) {
    padding-top: 35px;
  }
}

.header-mob__btn {
  display: none !important;
  min-width: 180px;
  margin-top: 35px;

  @media (max-width: 1300px) {
    display: inline-flex !important;
  }
}
