.main-banner {
  @include container;

  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (max-width: 550px) {
    padding: 35px 5px;
  }
}

.main-banner__logo {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
