.star {
  @include container;

  margin-bottom: 300px;

  @media (max-width: 1240px) {
    margin-bottom: 200px;
  }

  @media (max-width: 425px) {
    margin-bottom: 45px;
  }

  @media (max-width: 1240px) {
    margin-bottom: 200px;
  }
}

.star__flex {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;

  @media (max-width: 1024px) {
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 780px;
    margin: 0 auto;
  }
}

.star__item {
  position: relative;
  max-width: 308px;
  height: 292px;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;

  @media (max-width: 1240px) {
    max-width: 250px;
    height: 248px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }
}

.star__wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("../../images/home/star.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.strars__img-blur {
  position: absolute;
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px;
  z-index: 0;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
}

.strars__counter {
  font-size: 30px;
  font-weight: 700;
  margin-top: 118px;
  margin-bottom: 17px;

  @media (max-width: 1240px) {
    margin-top: 100px;
    font-size: 24px;
  }
}

.star__text {
  font-size: 17px;
  max-width: 117px;
  text-align: center;
  font-weight: 700;

  @media (max-width: 1240px) {
    font-size: 14px;
    max-width: 90px;
  }
}
