@import '../../../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.BuyStatusModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  border-radius: 10px;
  overflow-y: initial;
  background-color: $indigo;
  z-index: 100;

  &.isError {
    background-color: #DA4948;
  }

  .header {
    padding: 40px;

    h3 {
      margin-bottom: 0;
      text-align: center;
      font-weight: bold;
      font-size: 24px;
    }

    .close {
      display: block;
      position: absolute;
      background-color: transparent;
      border: none;
      width: 20px;
      right: 10px;
      padding: 0;
      top: 10px;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }
}
