@import '../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.Checkbox {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 0;
  cursor: pointer;

  input {
    position: absolute;
    left: -999px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;

    &:checked + .checkboxControl {
      svg {
        visibility: visible;
      }
    }
  }

  .checkboxControl {
    min-width: 20px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $indigo;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;

    @include media-breakpoint-up(xl) {
      background-color: $perrywinkle;
    }

    svg {
      visibility: hidden;
    }
  }

  .label {
    margin-left: 7px;
    font-size: 0.875rem;
    line-height: 1.29;
  }
}
