@import "../../../static/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.Tables {
  position: relative;
  padding: 40px 0 0;

  @include media-breakpoint-up(xl) {
    padding-bottom: 50px;

    .userInfo {
      margin-bottom: 50px;
    }
  }
}
