@import "../../../static/styles/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.Table {
  position: relative;

  .header {
    display: flex;
    position: relative;
    align-items: center;
    margin: 40px 0 20px;

    .close {
      display: block;
      position: absolute;
      transform: translateY(-50%);
      cursor: pointer;
      width: 27px;
      top: 50%;
      right: 0;

      img {
        display: block;
        max-width: 100%;
      }

      @include media-breakpoint-up(xl) {
        width: 47px;
      }
    }

    .title {
      text-transform: uppercase;
      text-align: center;
      font-weight: 800;
      font-size: 26px;
      line-height: 1;
      color: $aqua-blue;
      margin: 0;

      @include media-breakpoint-up(xl) {
        justify-content: flex-start;
        text-align: left;
        font-size: 62px;
      }
    }
  }

  .subHeader {
    margin-bottom: 30px;

    @include media-breakpoint-up(lg) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  .nav {
    display: flex;
    flex-wrap: nowrap;

    a {
      display: inline-flex;
      padding: 13px 10px;
      line-height: 28px;
      font-weight: bold;
      font-size: 24px;
      color: #fff;

      + a {
        margin-left: 15px;
      }

      &.active {
        color: #00c3e1;
      }
    }

    @include media-breakpoint-up(sm) {
      a {
        line-height: 34px;
        font-size: 28px;
      }
    }
  }

  .search {
    margin-top: 20px;

    input[type='text'] {
      display: flex;
      position: relative;
      align-items: center;
      background-color: #2a0072;
      border: 1px solid #fff;
      border-radius: 35px;
      padding: 5px 15px;
      font-size: 14px;
      color: #fff;
      outline: none;
      height: 40px;
      width: 100%;

      &::placeholder {
        opacity: 1;
      }
    }

    @include media-breakpoint-up(md) {
      margin-left: 20px;
      margin-top: 0;
      flex: 1;
    }


    @include media-breakpoint-up(xl) {
      input[type='text'] {
        padding: 10px 20px;
        font-size: 20px;
        height: 60px;
      }
    }
  }

  .actions {
    button {
      display: inline-block;
      background-color: transparent;
      font-size: 14px;
      outline: none;
      color: #fff;
      padding: 5px;
      border: none;
      margin: 0;

      &.active {
        color: #00c3e1;
      }
    }

    @include media-breakpoint-up(sm) {
      button {
        font-size: 18px;
        padding: 10px;
      }
    }


    @include media-breakpoint-up(md) {
      display: flex;
      align-items: center;
    }
  }
}
