@import '../../../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.BuyStatusModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  padding: 60px 20px;
  border-radius: 10px;
  overflow-y: initial;
  background-color: $perrywinkle;
  font-size: 30px;
  z-index: 100;

  &.isError {
    background-color: #DA4948;
  }

  .closeButton {
    display: block;
    margin-left: auto;
    cursor: pointer;

    @include media-breakpoint-up(xl) {
      position: absolute;
      top: 15px;
      right: 15px;

      path {
        fill: $indigo;
      }
    }
  }
}
