@import '../../../../../static/styles/variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.PartnersClonesModal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  padding: 187px 0 0;
  background: url('../../../../../static/images/backgrounds/bg-stars.jpg');

  @include media-breakpoint-up(xl) {
    position: absolute;
    top: 217px;
    left: 50%;
    transform: translateX(-50%);
    width: 758px;
    height: 287px;
    padding: 74px 70px;
    background: $indigo;
    border-radius: 30px;
  }

  .closeButton {
    position: absolute;
    top: 69px;
    right: 24px;
    width: 30px;
    height: 30px;

    @include media-breakpoint-up(xl) {
      top: 20px;
      right: 20px;
    }
  }

  .wrapper {
    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: space-between;
    }

    .box {
      max-width: max-content;
      margin: 0 auto;
      padding: 20px 30px;
      background-color: $violet-blue;
      border-radius: 30px;

      @include media-breakpoint-up(xl) {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 24px 47px;
        border-radius: 10px;
      }

      &:not(:first-child) {
        margin-top: 31px;

        @include media-breakpoint-up(xl) {
          margin: 0 0 0 61px;
        }
      }

      .header {
        display: flex;
        margin-bottom: 12px;

        .title {
          margin: 0 0 0 10px;
          font-weight: 800;
          font-size: 1.5rem;

          @include media-breakpoint-up(xl) {
            font-family: 500;
          }

          span {
            color: $aqua-blue;
          }
        }
      }

      button {
        width: 100%;
        margin-bottom: 0;
        text-transform: uppercase;

        @include media-breakpoint-up(xl) {
          min-height: 43px;
        }
      }
    }

    .partnersIcon {
      width: 28px;
      height: 31px;
    }
  }

  .statusMessage {
    padding-top: 142px;
    font-weight: bold;
    font-size: 1.125rem;
    text-align: center;

    @include media-breakpoint-up(xl) {
      padding-top: 53px;
      font-size: 2rem;
    }
  }
}
